@use "../abstract/variables";

.product-page__main-description {

    .product-name,
    h5 {
        font-weight: 700;
    }

    h5,
    p {
        padding: 1.5rem 1rem .5rem 1rem;
    }

    h5 {
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-size: .8rem;
        color: variables.$primary-color;
    }

    .product-name {
        font-size: 2rem;
        padding: 0 1rem;
        line-height: 2.7rem;
        color: variables.$secondary-color-darker;
    }

    p {
        line-height: 1.7rem;
        color: variables.$secondary-color;
    }

    .main-description__price {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        align-items: center;

        &-discount {
            display: flex;
            align-items: center;

            h2 {
                font-size: 2rem;
                font-weight: 700;
                color: variables.$secondary-color-darker;
            }

            .product-price::before {
                content: "$";
            }

            h5 {
                margin: 1rem;
                padding: .5rem;
                font-size: 1.2rem;
                background-color: variables.$primary-color-light;
                border-radius: 5px;
            }
        }

        &-old {
            h5 {
                padding: 0;
                font-size: 1.2rem;
                text-decoration: line-through;
                color: variables.$tertiary-color;
            }
        }
    }
}

.product-page__main {
    @media screen {
        @media (min-width: variables.$desktop-width) {
            display: flex;
            gap: 3rem;
            justify-content: space-between;
            padding: 0rem 12rem 0 12rem;
            margin: 2.5rem 0;

            .product-page__cart {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin: 2rem 1rem;
            }

            .product-page__main__left-container {
                width: 50%;

                .product-page__main-description {
                    .product-name {
                        font-size: 2.5rem;
                        padding: 1rem 1rem .5rem 1rem;
                    }

                    .main-description__price {
                        flex-direction: column;
                        align-items: start;

                        h5 {
                            font-size: 1rem;
                        }

                        &-discount {
                            h5 {
                                padding: .3rem .5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}