@use "../abstract/variables";

.product-page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: variables.$first-basic-color;

    .header__hamburger-menu,
    .header__logo {
        pointer-events: none;
        margin: 0 .5rem;
    }

    &--nav {
        display: none;
    }

    .header__avatar {
        width: 25px;
        margin: 0 .5rem;
    }

    .header__right {
        display: flex;
        align-items: center;

        .open-cart--button {
            background-color: transparent;
            border: none;
        }

        .header__cart-count {
            position: absolute;
            right: 0;
            top: 0;
            margin-right: 3.8rem;
            margin-top: .7rem;
            background-color: variables.$primary-color;
            padding: .1rem 0;
            width: 25px;
            text-align: center;
            font-size: .8rem;
            border-radius: 50px;
            font-weight: 700;
            color: variables.$first-basic-color;
            display: none;
        }

        .header__cart-items {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 4.2rem;
            margin-right: 3.5rem;
            background-color: variables.$first-basic-color;
            height: 250%;
            width: 300px;
            display: none;
            padding: .5rem 0;
            box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
                0 8px 10px -6px rgb(0 0 0 / 0.1);

            .header__cart-empty {
                display: grid;
                grid-template-rows: 70%;
                height: 100%;
                width: 300px;
                background-image: url(../assets/icons/icon-cart.svg);
                background-repeat: no-repeat;
                background-size: 25%;
                background-position: top;


                span,
                p {
                    text-align: center;
                    align-self: end;
                    justify-self: center;
                    padding: 0 2rem 0 2rem;
                }

                span {
                    padding-bottom: 1rem;
                    font-weight: 700;
                    color: variables.$secondary-color-darker;
                }

                p {
                    padding-bottom: 2.5rem;
                    color: variables.$secondary-color;
                    line-height: 1.3rem;
                }
            }

            .header__cart-product {
                display: flex;
                justify-content: right;
                gap: 3rem;
                position: relative;
                margin: 0 .5rem;
                padding: .5rem;
                background-image: url(../assets/img/image-product-1-thumbnail.jpg);
                background-repeat: no-repeat;
                background-origin: content-box;
                background-size: 30%;
                height: 50%;
                background-color: variables.$tertiary-color-light;
                border: 1px solid variables.$primary-color-hover;
                border-radius: 5px;
                display: none;

                .cart-product__left {
                    display: flex;
                    flex-direction: column;
                    gap: 1.1rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-left: 6.3rem;
                    margin-top: .5rem;

                    .item__name {
                        text-decoration: none;
                        color: variables.$secondary-color-darker;
                        font-weight: 700;
                        padding-top: .2rem;
                    }
                }

                .cart-product__right {
                    display: flex;
                    align-items: center;
                    gap: 2.5rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-left: 6.3rem;
                    margin-top: 4rem;
                }
            }

            .cart__overview {
                padding: 1rem 0;
                margin: 1.5rem 0;
                width: 100%;
                text-align: center;
                box-shadow: 0px -12px 15px -15px variables.$primary-color;
                display: none;

                span {
                    font-weight: 700;
                    color: variables.$secondary-color-darker;
                }
            }
        }



        .header__cart-img {
            margin: 0 1rem;
        }

        .show {
            display: block;
        }
    }
}

@media screen {
    @media (min-width: variables.$desktop-width) {
        .product-page__header {
            position: relative;
            border-bottom: 1px solid variables.$tertiary-color;
            width: 70%;
            padding: 1rem 0;
            margin: auto;

            .header__hamburger-menu {
                display: none;
            }

            .header__left {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 3rem;
            }

            &--nav {
                display: flex;
                gap: 2rem;

                a {
                    text-decoration: none;
                    color: variables.$secondary-color;
                }
            }

            .header__logo,
            .header__avatar {
                margin: 0;
            }

            .header__avatar {
                width: 45px;
            }

            .header__right {
                gap: 1.5rem;

                .header__cart-count {
                    margin-right: 4.5rem;
                    margin-top: 1.25rem;
                }

                .header__cart-items {
                    margin-top: 4.9rem;
                    margin-right: 3.6rem;
                    border: 1px solid variables.$tertiary-color;
                    border-top: none;

                    .header__cart-empty {
                        grid-template-rows: 60%;

                        p {
                            align-self: self-start;
                        }
                    }

                    .header__cart-product {
                        height: 41%;

                        &--delete {
                            cursor: pointer;
                        }
                    }

                    .cart__overview {
                        margin: 3.8rem 0 0 0;
                    }
                }
            }

            .open-cart--button {
                cursor: pointer;
            }
        }
    }
}