@use "../abstract/variables";

.product-page__main {
    margin-top: 4.2rem;

    &-gallery {
        .main-gallery__row {
            display: none;
        }

        .main-gallery__column {
            display: none;
        }
    }

    &-modal {
        .main-modal__content {
            position: relative;

            &-slide {
                display: block;

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    img {
                        object-position: top;
                    }
                }
            }

            .slide-alt {
                display: block;
            }
        }

        .product-page__main-gallery--prev,
        .product-page__main-gallery--next {
            position: absolute;
            top: 190px;
            margin: 0 1rem;
            border-radius: 50%;
            background-color: variables.$first-basic-color;

            img {
                width: 13px;
                height: 18px;
            }

        }

        .product-page__main-gallery--next {
            right: 0;
            padding: .6rem .7rem .6rem .9rem;

        }

        .product-page__main-gallery--prev {
            left: 0;
            padding: .6rem .9rem .6rem .7rem;
        }

    }

    @media screen {
        @media (min-width: variables.$desktop-width) {
            .product-page__main-modal {
                display: none;
                flex-direction: column;

                .main-modal__content {}
            }

            .product-page__main-gallery {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50%;
                position: relative;

                img {
                    height: 400px;
                    border-radius: 15px;
                }

                .main-gallery__row {
                    display: flex;
                    width: 80%;
                    gap: 1.5rem;
                }

                .main-gallery__column {
                    display: flex;
                    width: 25%;

                    img {
                        width: 100%;
                        height: 80%;
                        border-radius: 10px;
                        margin-top: 1rem;
                        border: 2px solid variables.$first-basic-color;

                        &:hover {
                            filter: opacity(80%);
                            cursor: pointer;
                        }

                        &:hover {
                            border: 2px solid orangered;
                        }
                    }
                }
            }

            .product-page__main-gallery--next,
            .product-page__main-gallery--prev {
                display: none;
            }
        }
    }
}