$primary-font: 'Kumbh Sans', sans-serif;

$primary-color: hsl(26, 100%, 55%);
$primary-color-hover: hsl(26, 97%, 64%);
$primary-color-light: hsl(25, 100%, 94%);

$secondary-color: hsl(219, 9%, 45%);
$secondary-color-darker: hsl(220, 13%, 13%);

$tertiary-color: hsl(220, 14%, 75%);
$tertiary-color-light: hsl(223, 64%, 98%);

$first-basic-color: hsl(0, 0%, 100%);
$second-basic-color: hsl(0, 0%, 0%);