.product-page {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  background-color: hsl(0, 0%, 100%);
}

.product-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: hsl(0, 0%, 100%);
}
.product-page__header .header__hamburger-menu,
.product-page__header .header__logo {
  pointer-events: none;
  margin: 0 0.5rem;
}
.product-page__header .header__avatar {
  width: 25px;
  margin: 0 0.5rem;
}
.product-page__header .header__right {
  display: flex;
  align-items: center;
}
.product-page__header .header__right .header__cart-count {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 3.8rem;
  margin-top: 0.7rem;
  background-color: hsl(26, 100%, 55%);
  padding: 0.1rem 0;
  width: 25px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 50px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  display: none;
}
.product-page__header .header__right .header__cart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 4.2rem;
  margin-right: 3.5rem;
  background-color: hsl(0, 0%, 100%);
  height: 250%;
  width: 300px;
  display: none;
  padding: 0.5rem 0;
  box-shadow: 15px 15px 15px -15px hsl(0, 0%, 0%);
}
.product-page__header .header__right .header__cart-items .header__cart-empty {
  display: grid;
  grid-template-rows: 70%;
  height: 100%;
  width: 300px;
  background-image: url(../../assets/icons/icon-cart.svg);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: top;
}
.product-page__header .header__right .header__cart-items .header__cart-empty span,
.product-page__header .header__right .header__cart-items .header__cart-empty p {
  text-align: center;
  align-self: end;
  justify-self: center;
  padding: 0 2rem 0 2rem;
}
.product-page__header .header__right .header__cart-items .header__cart-empty span {
  padding-bottom: 1rem;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}
.product-page__header .header__right .header__cart-items .header__cart-empty p {
  padding-bottom: 2.5rem;
  color: hsl(219, 9%, 45%);
  line-height: 1.3rem;
}
.product-page__header .header__right .header__cart-items .header__cart-product {
  display: flex;
  justify-content: right;
  gap: 3rem;
  position: relative;
  margin: 0 0.5rem;
  padding: 0.5rem;
  background-image: url(../../assets/img/image-product-1-thumbnail.jpg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: 30%;
  height: 50%;
  background-color: hsl(223, 64%, 98%);
  border: 1px solid hsl(26, 97%, 59%);
  border-radius: 5px;
  display: none;
}
.product-page__header .header__right .header__cart-items .header__cart-product .cart-product__left {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 6.3rem;
  margin-top: 0.5rem;
}
.product-page__header .header__right .header__cart-items .header__cart-product .cart-product__right {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 6.3rem;
  margin-top: 4rem;
}
.product-page__header .header__right .header__cart-items .header__cart-product--delete {
  position: absolute;
  padding-right: 1rem;
  padding-bottom: 1.3rem;
  bottom: 0;
  right: 0;
}
.product-page__header .header__right .header__cart-items .cart__overview {
  padding: 1rem 0;
  margin: 1.5rem 0;
  width: 100%;
  text-align: center;
  box-shadow: 0px -12px 15px -15px hsl(26, 100%, 55%);
  display: none;
}
.product-page__header .header__right .header__cart-img {
  margin: 0 1rem;
}
.product-page__header .header__right .show {
  display: block;
}

.product-page__main {
  margin-top: 4.2rem;
}
.product-page__main-gallery .main-gallery__row {
  display: none;
}
.product-page__main-gallery .main-gallery__column {
  display: none;
}
.product-page__main-modal .main-modal__content {
  position: relative;
}
.product-page__main-modal .main-modal__content-slide {
  display: none;
}
.product-page__main-modal .main-modal__content-slide img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-page__main-modal .main-modal__content-slide:nth-child(2) img, .product-page__main-modal .main-modal__content-slide:nth-child(3) img, .product-page__main-modal .main-modal__content-slide:nth-child(4) img {
  -o-object-position: top;
     object-position: top;
}
.product-page__main-modal .main-modal__content .slide-alt {
  display: block;
}
.product-page__main-modal .product-page__main-gallery--prev,
.product-page__main-modal .product-page__main-gallery--next {
  position: absolute;
  top: 190px;
  margin: 0 1rem;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
}
.product-page__main-modal .product-page__main-gallery--prev img,
.product-page__main-modal .product-page__main-gallery--next img {
  width: 13px;
  height: 18px;
}
.product-page__main-modal .product-page__main-gallery--next {
  right: 0;
  padding: 0.6rem 0.7rem 0.6rem 0.9rem;
}
.product-page__main-modal .product-page__main-gallery--prev {
  left: 0;
  padding: 0.6rem 0.9rem 0.6rem 0.7rem;
}
@media screen and (min-width: 1280px) {
  .product-page__main-modal .product-page__main-gallery--next,
  .product-page__main-modal .product-page__main-gallery--prev {
    display: none;
  }
}

.product-page__main-description .product-name,
.product-page__main-description h5 {
  font-weight: 700;
}
.product-page__main-description h5,
.product-page__main-description p {
  padding: 1.5rem 1rem 0.5rem 1rem;
}
.product-page__main-description h5 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  color: hsl(26, 100%, 55%);
}
.product-page__main-description .product-name {
  font-size: 2rem;
  padding: 0 1rem;
  line-height: 2.7rem;
  color: hsl(220, 13%, 13%);
}
.product-page__main-description p {
  line-height: 1.7rem;
  color: hsl(219, 9%, 45%);
}
.product-page__main-description .main-description__price {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}
.product-page__main-description .main-description__price-discount {
  display: flex;
  align-items: center;
}
.product-page__main-description .main-description__price-discount h2 {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}
.product-page__main-description .main-description__price-discount .product-price::before {
  content: "$";
}
.product-page__main-description .main-description__price-discount h5 {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: hsl(25, 100%, 94%);
  border-radius: 5px;
}
.product-page__main-description .main-description__price-old h5 {
  padding: 0;
  font-size: 1.2rem;
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
}

@media screen and (min-width: 1280px) {
  .product-page__main {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 10rem 0 10rem;
  }
  .product-page__main .product-page__cart {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .product-page__main .product-page__main__left-container {
    width: 50%;
  }
  .product-page__main .product-page__main__left-container .product-page__main-description .main-description__price {
    flex-direction: column;
    align-items: start;
  }
}

.product-page__cart-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  margin: 1rem 0;
  background-color: hsl(223, 64%, 98%);
  border-radius: 15px;
}
.product-page__cart-counter img {
  width: 15px;
  height: 15px;
  padding: 0.5rem;
}
.product-page__cart-counter img:first-child {
  height: 5px;
}
.product-page__cart-counter img:hover {
  filter: brightness(150%);
  cursor: pointer;
}
.product-page__cart-counter p {
  font-size: 1.2rem;
  font-weight: 700;
}
@media screen and (min-width: 1280px) {
  .product-page__cart-counter {
    padding: 0;
    margin: 0;
    gap: 2rem;
  }
}

.product-page__cart {
  margin: 0 1rem;
}
.product-page__cart .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 7rem auto;
  gap: 1rem;
  padding: 1.5rem 0;
  width: 100%;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 15px;
  font-size: 1.3rem;
  font-weight: 700;
  box-shadow: 0px 35px 90px -20px hsl(26, 100%, 55%);
}
.product-page__cart .button img {
  filter: brightness(1000%);
  width: 20px;
}
.product-page__cart .button:hover {
  background-color: hsl(26, 97%, 59%);
  cursor: pointer;
}
.product-page__cart .button:active {
  background-color: hsl(26, 100%, 55%);
}
@media screen and (min-width: 1280px) {
  .product-page__cart .button {
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */